

<div class="w3-container" *ngIf="studentListData">
	<div class="w3-panel w3-round-small w3-blue">
		<h3><i class="fa fa-folder-open"></i> Student Data<button routerLink="/add" class="w3-button w3-blue custom-button"><i class="fa fa-plus-square-o"></i> Add New Student</button></h3>
	</div>
	<span><i class="w3-medium fa fa-search"></i> Search: <input class="" type="text" [(ngModel)]='filterData'></span>

	<div class="w3-panel w3-blue" *ngIf="(studentListData | filter:filterData).length == 0">
		<h3>Oh no!</h3>
		<p>No students found!<span *ngIf="filterData"> with search "{{filterData}}"</span> </p>
	</div>
	<div class="w3-panel w3-white w3-padding-16 w3-card-2" *ngIf="(studentListData | filter:filterData | filter:filterData).length != 0">
		<table class="w3-table w3-striped w3-bordered">
			<tr>
				<th><i class="w3-medium custom-icon fa fa-id-badge"></i>Roll No:</th>
				
				<th><i class="fa fa-user-circle-o" style="font-size:24px"></i> First Name</th>
				<th><i class="fa fa-user-circle" style="font-size:24px"></i> Last Name</th>
				<th><i class="w3-medium custom-icon fa fa-envelope-open"></i> Email ID</th>
				<th><i class="fa fa-mobile-phone" style="font-size:24px"></i> Phone Number</th>
				<!-- <th><i class="fa fa-refresh" style="font-size:24px"></i> Update</th>
				<th><i class="fa fa-trash-o" style="font-size:24px"></i> Delete</th> -->
			</tr>
			<tr *ngFor="let student of studentListData | filter:filterData; index as i;" appHighlightStudent>
				<td>{{i +1}}</td>
				<td class="pointer" [routerLink]="['detail', i]">{{student.first_name}} </td>
				<td class="pointer" [routerLink]="['detail', i]">{{student.last_name}}</td>
				<td class="pointer" [routerLink]="['detail', i]">{{student.email}}</td>
				<td class="pointer" [routerLink]="['detail', i]">{{student.phone | phone}}</td>
				<td><button [routerLink]="['update', i]" class="fa fa-refresh"></button></td>
				<td><button (click)="deleteStudent(i);" class="fa fa-trash-o"></button></td>
			</tr>
		</table>
	</div>
</div>

